<table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Billing Id</th>
                    <th>Bill Description</th>
                    <th>Sensor Id</th>
                    <th>Sensor Name</th>
                    <th>Pay cycle</th>
                    <th></th>
                    
                </tr>
            </thead>
        
            <tbody>
                
                <tr>
                    <td>1</td>
                    <td>5MB/US$</td>
                    <td>1</td>
                    <td>Sensor1</td>
                    <td>Weekly</td>
                    <td><button type="button" class="btn btn-primary">Edit</button></td>                    
                </tr>
                <tr>
                    <td>2</td>
                    <td>10MB/US$</td>
                    <td>1</td>
                    <td>Sensor1</td>
                    <td>Monthly</td>
                    <td><button type="button" class="btn btn-primary">Edit</button></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>8MB/US$</td>
                    <td>2</td>
                    <td>Sensor2</td>
                    <td>Weekly</td>
                    <td><button type="button" class="btn btn-primary">Edit</button></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>$5MB/hour</td>
                    <td>3</td>
                    <td>Sensor3</td>
                    <td>Monthly</td>
                    <td><button type="button" class="btn btn-primary">Edit</button></input></td>
                </tr>

                
            </tbody>
        </table>