<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Green House Sensing</title>
	<!-- core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/owl.carousel.css" rel="stylesheet">
    <link href="css/owl.transitions.css" rel="stylesheet">
    <link href="css/prettyPhoto.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->

<body id="home" class="homepage">


    <header id="top-header" class="navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <!-- responsive nav button -->
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- /responsive nav button -->
                    
                    <!-- logo -->
                    <div class="navbar-brand">
                        <a class="navbar-brand page-scroll" href="/">
                      <span class="light">Green House Sensing</span> 
                        </a>
                    </div>
                    <!-- /logo -->
                </div>

                <!-- main nav -->
                <nav class="collapse navbar-collapse navbar-right" role="navigation">
                    <div class="main-menu">
                        <ul id="nav" class="nav navbar-nav">
                            <li class="scroll"><a href="/" data-section="#home">Home</a></li>
                            <li class="scroll"><a href="#about" data-section="#about">About</a></li>
                            <li class="scroll"><a href="#services" data-section="#services">Services</a></li>
                            <li class="scroll"><a href="#portfolio" data-section="#portfolio">Portfolio</a></li>
                            <li class="scroll"><a href="#team" data-section="#team">Team</a></li>
                            <li class="scroll"><a href="/SignUp" data-section="#contact-area">Contact</a></li>
                            <!-- <li class="scroll"><a href="/SignUp" data-section="#">Register</a></li> 
                            <li class="scroll"><a href="/SignIn" data-section="#home2">Login</a></li> --> 
                        <a class="scroll" href="/SignUp">Register</a>&nbsp&nbsp
                        <a class="page-scroll" href="/SignIn">Login</a>
                             
                        </ul>
                    </div>
                </nav>
                <!-- /main nav -->
                
            </div>
        </header>

    <section id="main-slider">
        <div class="owl-carousel">
            <div class="item" style="background-image: url(images/slider/protect1.png);">
                <div class="slider-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="carousel-content text-center">
                                    <h2>Sensing Green House Effect using <span>Mobile Sensors</span>.</h2>
                                    <p>Earth provides enough to satisfy every man's needs, but not every man's greed. </p>
                                    <a class="btn btn-primary btn-lg" href="https://www3.epa.gov/airtrends/aqtrnd95/globwarm.html">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
            <div class="item" style="background-image: url(images/slider/protect3.jpg);">
                <div class="slider-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="carousel-content text-center">

                                    <h2 style="color:black;">Sensing Green House Effect using <span style="color:white;">Mobile Sensors</span></h2>
                                    <p style="color:black;">The earth will not continue to offer its harvest, except with faithful stewardship. We cannot say we love the land and then take steps to destroy it for use by future generations.</p>
                                    <a class="btn btn-primary btn-lg" href="https://www3.epa.gov/airtrends/aqtrnd95/globwarm.html"> Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
            <div class="item" style="background-image: url(images/slider/protect2.jpg);">
                <div class="slider-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="carousel-content text-center">
                                    <h2>Sensing Green House Effect using <span>Mobile Sensors</span>.</h2>
                                    <p>Like music and art, love of nature is a common language that can transcend political or social boundaries.</p>
                                    <a class="btn btn-primary btn-lg" href="https://www3.epa.gov/airtrends/aqtrnd95/globwarm.html">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
            
        </div><!--/.owl-carousel-->
    </section><!--/#main-slider-->

    <section id="about">
        <div class="container">

            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">WELCOME TO OUR PROJECT</h2>
                <p class="text-center wow fadeInDown">The only way forward, if we are going to improve the quality of the environment, is to get everybody involved.</p>
            </div>

            <div class="row">
                

                <div class="col-sm-6 wow fadeInRight">
                    <h3 class="column-title">A Little More About Us</h3>
                    <p>The greenhouse effect is the process by which radiation from a planet's atmosphere warms the planet's surface to a temperature above what it would be without its atmosphere. If a planet's atmosphere contains radiatively active gases (i.e., greenhouse gases) the atmosphere will radiate energy in all directions.
                    </p>

                    <p>The only way forward, if we are going to improve the quality of the environment, is to get everybody involved.</p>
                    
                </div>
                <div class="col-sm-6 wow fadeInLeft">
                    <img class="img-responsive" src="http://images.indianexpress.com/2015/05/environment-759.jpg" alt="SaveEnvironment.png">
                </div>
            </div>
        </div>
    </section><!--/#about-->


   <!--  <section id="cta2">
        <div class="container">
            <div class="text-center">
                <h2 class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="0ms">YOU'VE MADE A brave DECISION, <span>WELCOME</span></h2>
                <p class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="100ms">Mauris pretium auctor quam. Vestibulum et nunc id nisi fringilla <br />iaculis. Mauris pretium auctor quam.</p>
                <p class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="200ms"><a class="btn btn-primary btn-lg" href="#">Get It Now</a></p>
            </div>
        </div>
    </section> -->

    <section id="services" >
        <div class="container">

            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">Our Services</h2>
                <p class="text-center wow fadeInDown">The only way forward, if we are going to improve the quality of the environment, is to get everybody involved.</p>
            </div>

            <div class="row">
                <div class="features">
                    <div class="col-sm-6 col-md-4 col-lg-4 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="0ms">
                        <div class="features-item">
                            <div class="features-icon">
                                <i class="fa fa-bicycle"></i>
                            </div>
                            <h3 class="features-title font-alt">User Model</h3>
                            Careful attention to detail and clean, well structured code ensures a smooth user experience for all Users.
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4 col-lg-4 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="200ms">
                        <div class="features-item">
                            <div class="features-icon">
                                <i class="fa fa-connectdevelop"></i>
                            </div>
                            <h3 class="features-title font-alt">Vendor Model</h3>
                            Careful attention to detail and clean, well structured code ensures a smooth user experience for all Vendors.
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4 col-lg-4 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
                        <div class="features-item">
                            <div class="features-icon">
                                <i class="fa  fa-diamond"></i>
                            </div>
                            <h3 class="features-title font-alt">Admin Model</h3>
                            Careful attention to detail and clean, well structured code ensures a smooth user experience for the Admin.
                        </div>
                    </div>

                </div>
            </div><!--/.row-->    
        </div><!--/.container-->
    </section><!--/#services-->

    <section id="portfolio">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">Our Works</h2>
                <p class="text-center wow fadeInDown">The only way forward, if we are going to improve the quality of the environment, is to get everybody involved.</p>
            </div>

            <div class="text-center">
                <ul class="portfolio-filter">
                    <li><a class="active" href="#" data-filter="*">All Works</a></li>
                    <li><a href="#" data-filter=".animation">User</a></li>
                    <li><a href="#" data-filter=".Business">Vendor</a></li>
                    <li><a href="#" data-filter=".art">Admin</a></li>
                </ul><!--/#portfolio-filter-->
            </div>

            <div class="portfolio-items">
                


                <div class="portfolio-item Business art">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="images/Picture1.png" alt="">
                        <div class="portfolio-info">
                            <h3>Portfolio Item 2</h3>
                            <a class="preview" href="images/Picture1.png" rel="prettyPhoto">
                                <img src="images/portfolio/expand.png" alt="">
                            </a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item animation">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="images/Picture2.png" alt="">
                        <div class="portfolio-info">
                            <h3>Portfolio Item 3</h3>
                            <a class="preview" href="images/Picture2.png" rel="prettyPhoto">
                                <img src="images/portfolio/expand.png" alt="">

                            </a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item Business">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="images/Picture3.png" alt="">
                        <div class="portfolio-info">
                            <h3>Portfolio Item 4</h3>
                            <a class="preview" href="images/Picture3.png" rel="prettyPhoto">
                                <img src="images/portfolio/expand.png" alt="">

                            </a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item animation art">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="images/Picture4.png" alt="">
                        <div class="portfolio-info">
                            <h3>Portfolio Item 5</h3>
                            <a class="preview" href="images/Picture4.png" rel="prettyPhoto">
                                <img src="images/portfolio/expand.png" alt="">

                            </a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item Business">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="images/Picture1.png" alt="">
                        <div class="portfolio-info">
                            <h3>Portfolio Item 5</h3>
                            <a class="preview" href="images/Picture1.png" rel="prettyPhoto">
                                <img src="images/portfolio/expand.png" alt="">

                            </a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item animation art">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="images/Picture2.png" alt="">
                        <div class="portfolio-info">
                            <h3>Portfolio Item 7</h3>
                            <a class="preview" href="images/Picture2.png" rel="prettyPhoto">
                                <img src="images/portfolio/expand.png" alt="">

                            </a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

            </div>
        </div><!--/.container-->
    </section><!--/#portfolio-->


    <section id="team">
        <h2 class="section-title text-center wow fadeInDown animated" style="visibility: visible;">Our Amazing Team </h2><br>
        <div id="team" class="container-fluid text-center">
    <div class="row slideanim">
        <div class="col-sm-6">
            <img class="img-circle" src="img/amitesh.jpg" alt="Amitesh" width="150" height="150">
            <h4>Amitesh Jaiswal</h4>
            <a target="_blank" href="https://www.linkedin.com/in/jaiswalamitesh" style="text-decoration:none;"><span style="font: 80% Arial,sans-serif; color:#0783B6;"><img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_in_20x15.png" width="30" height="25" alt="View Amitesh Jaiswal's LinkedIn profile" style="vertical-align:middle;" border="0">&nbsp;View Amitesh Jaiswal's  profile</span></a>
        </div>
        <div class="col-sm-6">
            <img class="img-circle" src="img/pawit.jpg" alt="Pawit" width="150" height="150">
            <h4>Pawit Preet Singh</h4>
            <a target="_blank" href="https://www.linkedin.com/in/pawit-preet-singh-86a86035" style="text-decoration:none;"><span style="font: 80% Arial,sans-serif; color:#0783B6;"><img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_in_20x15.png" width="30" height="25" alt="View Pawit Preet Singh LinkedIn profile" style="vertical-align:middle;" border="0">&nbsp;View Pawit Preet Singh profile</span></a>
        </div>
        
    </div>
    <br><br>
    <div class="row slideanim">
        <div class="col-sm-6">
            <img class="img-circle" src="img/vipul.jpg" alt="Vipul" width="150" height="150">
            <h4>Vipul Tiwari</h4>
            <a target="_blank" href="https://www.linkedin.com/in/vipultiwari19" style="text-decoration:none;"><span style="font: 80% Arial,sans-serif; color:#0783B6;"><img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_in_20x15.png" width="30" height="25" alt="View Vipul Tiwari LinkedIn profile" style="vertical-align:middle;" border="0">&nbsp;View View Vipul Tiwari  profile</span></a>
        </div>
        <div class="col-sm-6">
            <img class="img-circle" src="img/gagan.jpg" alt="Gagan" width="150" height="150">
            <h4>Gaganjot Kaur Kang</h4>
            <a target="_blank" href="https://www.linkedin.com/in/gaganjotkaurkang" style="text-decoration:none;"><span style="font: 80% Arial,sans-serif; color:#0783B6;"><img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_in_20x15.png" width="30" height="25" alt="View Gaganjot Kaur Kang LinkedIn profile" style="vertical-align:middle;" border="0">&nbsp;View Gaganjot Kaur Kang profile</span></a>
        </div>
        
    </div>
</div>

    </section><!--/#testimonial-->





    <section id="contact-area">
        <div class="container">
            <div class="row">
                <div class="section-header">
                    <h2 class="section-title text-center wow fadeInDown animated" style="visibility: visible;">Send Message</h2>
                    <p class="text-center wow fadeInDown animated" style="visibility: visible;">Drop a line to us. Your word is most important to us.</p>
                </div>
                <form id="main-contact-form" name="contact-form" method="post" action="#">
                    <div class="col-lg-6 animated animate-from-left" style="opacity: 1; left: 0px;">

                        <div class="form-group">
                                <label for="name">Your Name (Required)</label>
                                <input id="name" type="text" name="name" class="form-control" placeholder="Name" required>
                            </div>
                        <div class="form-group">
                                <label for="email">Email Address</label>
                                <input type="email" id="email" name="email" class="form-control" placeholder="Email" required>
                            </div>
                        <div class="form-group">
                            <label for="subject">Subject</label>
                            <input type="text" id="subject" name="subject" class="form-control" placeholder="Subject" required>
                        </div>

                    </div>
                    <div class="col-lg-6 animated animate-from-right" style="opacity: 1; right: 0px;">
                        <div class="form-group">
                            <label for="message">Your Message</label>
                            <textarea name="message" id="message" class="form-control" rows="8" placeholder="Message" required></textarea>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="text-center">

                          <button type="submit" class="btn btn-primary btn-lg btn-send-msg">Send Message</button>

                    </div>

                </form>

            </div>
        </div>
    </section><!--/#bottom-->

    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <p class="text-center">
                        &copy; 2016 GreenHouseSensing <!-- <a target="_blank" href="http://themeinthebox.com" title="Free Twitter Bootstrap WordPress Themes and HTML templates">themeinthebox.com</a> -->
                    </p>
                    
                    <ul class="social-icons text-center">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer><!--/#footer-->

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/mousescroll.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/jquery.isotope.min.js"></script>
    <script src="js/jquery.inview.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>